INKNEST_ENVIRONMENT=development
INKNEST_LOG_LEVEL=INFO
INKNEST_DATABASE_URL=postgresql+psycopg://inknest:inknest-postgres-dev@localhost:5432/inknest
INKNEST_MINIO_ENDPOINT=localhost:9000
INKNEST_MINIO_ACCESS_KEY=inknest-minio
INKNEST_MINIO_SECRET_KEY=inknest-minio-dev
INKNEST_MINIO_SECURE=false
INKNEST_MINIO_BUCKET=inknest-private
INKNEST_JWT_SECRET=30d75b036b7469e6845dd2c7e89f760296d92984e452444911cd17bbfcea2824
INKNEST_ACCESS_TOKEN_MINUTES=15
INKNEST_REFRESH_TOKEN_DAYS=30
